body {
  min-width: 100vw;
  margin: 0;
  height: 1450vh;
}
section {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
}
#nav {
  background: #14213D;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5vh;
  top: 0vh;
  position: fixed;
  z-index: 1;
  display: table;
}
#nav li {
  font-size: 1em;
  color: #F7F3F5;
  display: table-cell;
  width: 16.666666667%;
  text-align: center;
  font-weight: bold;
  font-family: PT Sans;
  padding: 10px;
  top: 25%;
}
#nav a {
  color: inherit;
  text-decoration: none;
}
#nav a:hover{
   color: inherit;
   text-decoration:none;
   cursor:pointer;
}
#nav a:active {
  color: #A3C4BC;
}

#title {
  background-color: white;
  position: absolute;
  margin-top: 0%;
  z-index: 2;
  top: 0vh;
  bottom: 100vh;
  padding: 0%;
  text-align: center;
}
.generaltext {
  font-size: 20px;
  font-family: PT Sans;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 10px;
}
.titlepagetext {
  font-family: Vollkorn;
  text-align: center;
  font-size: 40px;
  color: black;
  margin-top: 20%;
  margin-bottom: 0%;
}
.titletext {
  font-family: Vollkorn;
  text-align: center;
  font-size: 40px;
  color: black;
  /* position: sticky; */
  z-index: 1;
  background-color: white;
  padding-top: 7vh;
}
.titletext2 {
  font-family: Vollkorn;
  text-align: center;
  font-size: 30px;
  color: black;
  background-color: white;
}
.purple {
  color: #912F56;
}
.generaltext2 {
  font-size: 18px;
  font-family: PT Sans;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
#corner0 {
  width: 0;
  height: 0;
  border-bottom: 250px solid transparent;
  border-right: 250px solid transparent;
  top: 0vh;
  left: 0vh;
  position: absolute;
  border-top: 250px solid #14213D;
}
#corner4 {
  width: 0;
  height: 0;
  border-bottom: 250px solid transparent;
  border-right: 250px solid transparent;
  top: 0vh;
  left: 0vh;
  position: absolute;
  z-index: 2;
  border-top: 250px solid #14213D;
}
#corner1 {
  width: 0;
  height: 0;
  border-bottom: 300px solid transparent;
  border-right: 300px solid transparent;
  top: 0vh;
  left: 0vh;
  position: absolute;
  border-top: 300px solid #A3C4BC;
}
#corner5 {
  width: 0;
  height: 0;
  border-bottom: 300px solid transparent;
  border-right: 300px solid transparent;
  top: 0vh;
  left: 0vh;
  position: absolute;
  z-index: 2;
  border-top: 300px solid #A3C4BC;
}
#corner2 {
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
  border-bottom: 250px solid #14213D;
  transform: rotate(0deg);
  bottom: 0vh;
  right: 0vh;
  position: absolute;
  border-top: 250px solid transparent;
}
#corner6 {
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
  border-bottom: 250px solid #14213D;
  transform: rotate(0deg);
  bottom: 0vh;
  right: 0vh;
  position: absolute;
  z-index: 2;
  border-top: 250px solid transparent;
}
#corner3 {
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-bottom: 300px solid #A3C4BC;
  bottom: 0vh;
  right: 0vh;
  position: absolute;
  border-top: 300px solid transparent;
}
#corner7 {
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-bottom: 300px solid #A3C4BC;
  bottom: 0vh;
  right: 0vh;
  position: absolute;
  z-index: 2;
  border-top: 300px solid transparent;
}

#intropage1 {
  top: 100vh;
  z-index: 0;
  position: absolute;
}
#intro_circles {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 2%;
  display: block;
}
#intropage2 {
  top: 200vh;
  z-index: 0;
  position: absolute;
}
#performance_circles {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding: 5px;
}
#demo1 {
  top: 300vh;
  z-index: 0;
  position: absolute;
}
#first_line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding: 5px;
}
#demo2 {
  top: 400vh;
  z-index: 0;
  position: absolute;
}
.lefttext {
  left: 0;
  float: left;
  width: 45%;
  height: 75vh;
  overflow-y: scroll;
  margin-bottom: 3vh;
}
#volume3 .lefttext {
  margin-top: 5%;
}
.rightgraph {
  float: right;
  position: sticky;
  margin-top: 4%;
  right: 2%;
  width: 50%;
}
#demo3 {
  top: 500vh;
  z-index: 0;
  position: absolute;
}
#speed1 {
  top: 600vh;
  z-index: 0;
  position: absolute;

}
.centergraph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  padding: 5px;
}
#speed2 {
  top: 700vh;
  z-index: 0;
  font-weight: 700;
  position: absolute;
}
.generaltext3 {
  font-size: 20px;
  font-family: PT Sans;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  padding-top: 3%;
  /* position: sticky; */
  top: 5%;
  background-color: white;
  width: 80%;
}

#pauses {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75%
}
#pauses2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 5%;
}
#speed3 {
  top: 800vh;
  z-index: 0;
  font-weight: 700;
  position: absolute;
}
#pauses3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#speed4 {
  top: 900vh;
  z-index: 0;
  font-weight: 700;
  position: absolute;
}
#volume1 {
  top: 1000vh;
  z-index: 0;
  position: absolute;
}
.comment {
  width: 12%;
  float: left;
  margin-left: 12%;
  margin-top: 5%;
  text-align: center;
}
#volume2 {
  top: 1100vh;
  z-index: 0;
  position: absolute;
}
#loudest_lines {
  display: block;
  margin-left: auto;
  padding-left: 5%;
  margin-right: auto;
  width: 65%;
}
#volume3 {
  position: absolute;
  top: 1200vh;
  z-index: 0;
}
#volume3 .titletext {
  margin-bottom: 15px;
}
#demo3 .titletext {
  margin-bottom: 15px;
}

.so_what {
  top: 1300vh;
  /* background-color: white; */
  /* margin-top: 0%; */
  z-index: 0;
  position: absolute;
}
.so_what .generaltext {
  width: 70%;
  font-size: 20px;
  font-weight: 500;
}
.methods {
  top: 1400vh;
  height: 50%;
  z-index: 0;
  background-color: #14213D;
  color: #dcd9db;
  position: absolute;
}
.methods .generaltext {
  font-weight: 300;
  font-size: 15px;
}
.methods .titletext {
  background-color: #14213D;
  font-size: 25px;
  color: #dcd9db;
  font-weight: 300;
  margin-top: 0;
}
#shakes {
  width: 30%;
  margin-top: 3%;
  display: block;
  margin-left: 30%;
  margin-right: 50%;
}
